<form class="form-horizontal">
  <input type="hidden" name="recipe_id" value="{{recipe_id}}"/>
  <fieldset>

    <!-- Form Name -->
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="recipe_name">User Name</label>
      <div class="col-md-5">
        <input id="user_name" name="user_name" type="text" placeholder="User Name" class="form-control input-lg user_name" required="" value="{{recipe_name}}">
      </div>
    </div>
    
     <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="recipe_name">Password</label>
      <div class="col-md-5">
        <input id="password" name="password" type="password" placeholder="" class="form-control input-lg password" required="" value="{{recipe_name}}">
      </div>
    </div>

    <!-- Button (Double) -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="button1id"></label>
      <div class="col-md-8">
        <button id="button1id" name="button1id" class="btn btn-success save login-button">Login</button>
        <button id="button2id" name="button2id" class="btn btn-danger cancel create-button" style="display:none">Create</button>
      </div>
    </div>

  </fieldset>
  
  
</form>